<div class="navbar" *ngIf="navbar">
  <div class="dropdown">
    <label for="projectDropdown">Select Project:</label>
    <select id="projectDropdown" [(ngModel)]="selectedProjectId" (change)="onProjectChange()">
      <option [value]="null">-- Select Project --</option>
      <option *ngFor="let project of activeProjects" [value]="project.P_ID">{{ project.P_PRJ_NAME }}</option>
    </select>
  </div>
 
  <div class="dropdown">
    <label for="moduleDropdown">Select Module:</label>
    <select id="moduleDropdown" [(ngModel)]="selectedModuleId" (change)="onModuleChange()">
      <option [value]="null">-- Select Module --</option>
      <option *ngFor="let module of filteredModules" [value]="module.MOD_ID">{{ module.MOD_NAME }}</option>
    </select>
  </div>
 
  <div class="status-filter">
    <label for="status">Status:</label>
    <select id="status" [(ngModel)]="selectedStatus" (change)="filterMethods()">
      <option value="All">All</option>
      <option value="Y">Active</option>
      <option value="N">Inactive</option>
      <option value="D">Deleted</option>
    </select>
  </div>
 
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchText" (input)="filterMethods()" placeholder="Search Method">
  </div>
  <div class="navbaraddmet">
      <button class="add-method" (click)="openAddMethodForm()">Add Method</button>
  </div>
</div>
 
<p style="margin-left: 87%; margin-top: 1%; margin-bottom: 0px;"> TotalRecords : {{Rlength}}</p>
 
<div class="methods-content">
  <div *ngIf="grid">
    <div class="cardslist" *ngIf="filteredMethods.length > 0; else noMethods">
      <div class="card" *ngFor="let method of paginatedMethods">
        <div class="c1">
          <div class="c11"><span>{{ method.M_NAME }}</span></div>
          <div class="c12">
            <img (click)="popup(method)" src="https://res.cloudinary.com/dlq6spyxk/image/upload/v1747135367/output-onlinepngtools_qu79fc.png" alt="view" height="25px">
            <img (click)="editMethod(method)" src="https://res.cloudinary.com/dizqxmrsk/image/upload/v1747387576/output-onlinepngtools_i6uyhd.png" alt="edit" height="25px">
            <img (click)="deleteMethod(method)" src="https://res.cloudinary.com/dizqxmrsk/image/upload/v1747387963/966f969e-fa3f-4d9f-8e71-227b8c16c093.png" alt="delete" height="25px">
          </div>
        </div>
        <div class="c2">
          <p>Description:<br><span>{{ method.M_DESC }}</span></p>
          <p><strong>Request URL:</strong> <span>{{ method.M_REQUEST_URL_SAMPLE }}</span></p>
          <p><strong>Response URL:</strong> <span>{{ method.M_RESPONCE_URL_SAMPLE }}</span></p>
        </div>
      </div>
 
      <div class="popup" *ngIf="pop">
        <div class="popup-content">
          <h1 style="text-align: center;">Methods Details</h1>
          <p><strong>Method:</strong> {{selectedmethod.M_NAME }}</p>
          <p><strong>Description:</strong> {{ selectedmethod.M_DESC }}</p> <p><strong>Request URL:</strong> {{ selectedmethod.M_REQUEST_URL_SAMPLE }}</p>
          <p><strong>Response URL:</strong> {{ selectedmethod.M_RESPONCE_URL_SAMPLE }}</p>
          <div class="popupbtn"><button (click)="closePopup()">Close</button></div>
        </div>
      </div>
 
    </div>
    <ng-template #noMethods>
      <div class="norecords">
        <p>No methods found</p>
      </div>
    </ng-template>
  </div>
 
   <div *ngIf="del">
    <div class="cardslist" *ngIf="filteredMethods.length > 0; else noMethods">
      <div class="card" *ngFor="let method of paginatedMethods">
        <div class="c1">
          <div class="c11"><span>{{ method.M_NAME }}</span></div>
          <div class="c12">
            <img (click)="popup(method)" src="https://res.cloudinary.com/dlq6spyxk/image/upload/v1747135367/output-onlinepngtools_qu79fc.png" alt="view" height="25px">
            <img (click)="editMethod(method)" src="https://res.cloudinary.com/dizqxmrsk/image/upload/v1747387576/output-onlinepngtools_i6uyhd.png" alt="edit" height="25px">
            <!-- <img (click)="deleteMethod(method)" src="https://res.cloudinary.com/dizqxmrsk/image/upload/v1747387963/966f969e-fa3f-4d9f-8e71-227b8c16c093.png" alt="delete" height="25px"> -->
          </div>
        </div>
        <div class="c2">
          <p>Description:<br><span>{{ method.M_DESC }}</span></p>
          <p><strong>Request URL:</strong> <span>{{ method.M_REQUEST_URL_SAMPLE }}</span></p>
          <p><strong>Response URL:</strong> <span>{{ method.M_RESPONCE_URL_SAMPLE }}</span></p>
        </div>
      </div>
 
      <div class="popup" *ngIf="pop">
        <div class="popup-content">
          <h1 style="text-align: center;">Methods Details</h1>
          <p><strong>Method:</strong> {{selectedmethod.M_NAME }}</p>
          <p><strong>Description:</strong> {{ selectedmethod.M_DESC }}</p> <p><strong>Request URL:</strong> {{ selectedmethod.M_REQUEST_URL_SAMPLE }}</p>
          <p><strong>Response URL:</strong> {{ selectedmethod.M_RESPONCE_URL_SAMPLE }}</p>
          <div class="popupbtn"><button (click)="closePopup()">Close</button></div>
        </div>
      </div>
 
    </div>
    <ng-template #noMethods>
      <div class="norecords">
        <p>No methods found</p>
      </div>
    </ng-template>
  </div>
</div>
 
<div class="container" *ngIf="addform">
  <h3 *ngIf="edit">Edit Method</h3>
  <h3 *ngIf="!edit">Add Method</h3>
 
  <form [formGroup]="methodform">
    <div class="project-dropdown" *ngIf="!edit">
       <label for="projectSelect" >Select Project</label>
      <select id="projectSelect" formControlName="" style="width: 100%;
    padding: 8px; border-radius: 5px; border: 1px solid #ccc; box-sizing: border-box;">
    <option value="" disabled selected>*Select any project from dropdown</option>      
    <option *ngFor="let project of activeProjects" [value]="project.P_ID" (change)="onProjectChange()">
          {{ project.P_PRJ_NAME }}
        </option>
      </select>
    <!-- </div> -->
      <label for="ModuleSelect">Select Module</label>
      <select id="ModuleSelect" formControlName="M_MOD_ID" style="width: 100%;
    padding: 8px; border-radius: 5px; border: 1px solid #ccc; box-sizing: border-box;">
        <option value="">*Select any Module from dropdown</option>
        <option *ngFor="let module of filteredModules" [value]="module.MOD_ID">
          {{ module.MOD_NAME }}
        </option>
      </select>
      <div *ngIf="methodform.get('M_MOD_ID')?.touched && methodform.get('M_MOD_ID')?.invalid" class="error">
        *You must select a module
      </div>
    </div>
 
 
    <label>Method Name</label>
    <input type="text" formControlName="M_NAME" />
    <div *ngIf="methodform.get('M_NAME')?.touched && methodform.get('M_NAME')?.invalid" class="error">
      <div *ngIf="methodform.get('M_NAME')?.errors?.['maxlength']" class="errorr">
        *Max length is exceeded
      </div>
      <div *ngIf="methodform.get('M_NAME')?.errors?.['required']">
        *Method Name is Required
      </div>
    </div>
 
 
    <label>Description</label>
    <input type="text" formControlName="M_DESC" />
    <div *ngIf="methodform.get('M_DESC')?.touched && methodform.get('M_DESC')?.invalid" class="error">
      <div *ngIf="methodform.get('M_DESC')?.errors?.['maxlength']">
        *Max length is exceeded
      </div>
      <div *ngIf="methodform.get('M_DESC')?.errors?.['required']">
        *Method Description is Required
      </div>
    </div>
 
    <label>Method Request URL</label>
    <input type="text" formControlName="M_REQUEST_URL_SAMPLE" />
    <div *ngIf="methodform.get('M_REQUEST_URL_SAMPLE')?.invalid && methodform.get('M_REQUEST_URL_SAMPLE')?.touched" class="error">
      <div *ngIf="methodform.get('M_REQUEST_URL_SAMPLE')?.errors?.['pattern']">
        *Enter a valid URL (e.g., https://example.com or www.example.com)
      </div>
      <div *ngIf="methodform.get('M_REQUEST_URL_SAMPLE')?.errors?.['required']">
        *Method URL is Required
      </div>
    </div>
 
    <label>Method Response URL</label>
    <input type="text" formControlName="M_RESPONCE_URL_SAMPLE" />
    <div *ngIf="methodform.get('M_RESPONCE_URL_SAMPLE')?.invalid && methodform.get('M_RESPONCE_URL_SAMPLE')?.touched" class="error">
      <div *ngIf="methodform.get('M_RESPONCE_URL_SAMPLE')?.errors?.['pattern']">
        *Enter a valid URL (e.g., https://example.com)
      </div>
      <div *ngIf="methodform.get('M_RESPONCE_URL_SAMPLE')?.errors?.['required']">
        *Method URL is Required
      </div>
    </div>
 
    <label>Active</label>
    <input type="checkbox" formControlName="M_ACTIVE" />
 
    <button type="button" class="add-button" *ngIf="!edit" (click)="addMethods()">Add Method</button>
    <button type="button" class="add-button" *ngIf="edit" (click)="updateMethod()">Update Method</button>
    <button type="button" class="secondary" (click)="methodform.reset()">Reset</button>
    <button type="button" class="secondary" (click)="cancel()">Cancel</button>
  </form>
</div>
 
 <div class="pagination-controls" *ngIf="filteredMethods.length > itemsPerPage">
  <button (click)="currentPage = currentPage - 1" [disabled]="currentPage === 1">
    Previous
  </button>
 
  <button
    *ngFor="let page of pageNumbers"
    [class.active]="currentPage === page"
    (click)="currentPage = page">
    {{ page }}
  </button>
 
  <button (click)="currentPage = currentPage + 1" [disabled]="currentPage === totalPages">
    Next
  </button>
</div>
 
 