
<h1 style="text-align: center;">Login Page</h1>

<div class="container">
  <form #form="ngForm" (ngSubmit)="login()">
    <label for="email">User Email:</label>
    <input
      type="email"
      name="email"
      [(ngModel)]="email"
      #emailRef="ngModel"
      required
      email
    />
    <div *ngIf="emailRef.invalid && emailRef.touched" style="color: red;">
      <div *ngIf="emailRef.errors?.['required']">Email is required.</div>
      <div *ngIf="emailRef.errors?.['email']">Enter a valid email address.</div>
    </div>
    <br /><br />

    <label for="password">Enter Password:</label>
    <input
      type="password"
      name="password"
      [(ngModel)]="password"
      #passwordRef="ngModel"
      required
      minlength="6"
    />
    <div *ngIf="passwordRef.invalid && passwordRef.touched" style="color: red;">
      <div *ngIf="passwordRef.errors?.['required']">Password is required.</div>
      <div *ngIf="passwordRef.errors?.['minlength']">
        Password must be at least 6 characters long.
      </div>
    </div>
    <br /><br />

    <button type="submit" [disabled]="form.invalid">Login</button>
    <br /><br />

    <p *ngIf="errormessage" style="color: red;">{{ errormessage }}</p>
  </form>
</div>


  