
<div class="navbar">
  <div class="action-bar" *ngIf="navbar">
    <div class="filter-row" *ngIf="navbar">
      <div class="dropdown">
        <label for="project">Select Projects:</label>
        <select name="project" id="project" [(ngModel)]="selectedStatus" (change)="applyStatusFilter()">
          <option value="All">All</option>
          <option value="Y">Active</option>
          <option value="N">Inactive</option>
          <option value ="D">Deleted</option>
        </select>
      </div>
  </div>
    <input
      type="text" placeholder="Search by Project Name" [(ngModel)]="searchTerm" (input)="applyStatusFilter()"
      class="search-input"
    />
    <div class="addbuttonn">
      <button id="addbutton" (click)="addproject()">Add projects</button> <br>
    </div>
  </div>
</div>

<p  style="margin-left: 89%; margin-bottom: 0px;">Total Records:{{Rlength}} </p>

  <div class="cardslist" *ngIf="grid">
    <div class="card" *ngFor="let x of filteredProjects">
      <div class="c1">
        <div class="c11"><span> {{ x.P_PRJ_NAME }} </span></div>
        <div class="c12">
          <img (click)="popup(x)" alt="eye icon" src="https://res.cloudinary.com/dlq6spyxk/image/upload/v1747135367/output-onlinepngtools_qu79fc.png" height="25px" />
          <img (click)="editproject(x)" alt="edit icon" src="https://res.cloudinary.com/dizqxmrsk/image/upload/v1747387576/output-onlinepngtools_i6uyhd.png" height="25px" />
          <img (click)="delproject(x)" alt="delete icon" src="https://res.cloudinary.com/dizqxmrsk/image/upload/v1747387963/966f969e-fa3f-4d9f-8e71-227b8c16c093.png" height="25px" />
        </div>
      </div>
      <div class="c2">
        <p>Stage URL: <br /><a href="">{{ x.P_API_URL_DEV }}</a></p>
        <p>Production URL: <br /><a href="">{{ x.P_API_URL_PROD }}</a></p>
      </div>
    </div>
  </div>

  <div class="cardslist" *ngIf="del">
    <div class="card" *ngFor="let x of filteredProjects">
      <div class="c1">
        <div class="c11"><span> {{ x.P_PRJ_NAME }} </span></div>
        <div class="c12">
          <img (click)="popup(x)" alt="eye icon" src="https://res.cloudinary.com/dlq6spyxk/image/upload/v1747135367/output-onlinepngtools_qu79fc.png" height="25px" />
          <img (click)="editproject(x)" alt="edit icon" src="https://res.cloudinary.com/dizqxmrsk/image/upload/v1747387576/output-onlinepngtools_i6uyhd.png" height="25px" />
          <!-- <img (click)="delproject(x)" alt="delete icon" src="https://res.cloudinary.com/dizqxmrsk/image/upload/v1747387963/966f969e-fa3f-4d9f-8e71-227b8c16c093.png" height="25px" /> -->
        </div>
      </div>
      <div class="c2">
        <p>Stage URL: <br /><a href="">{{ x.P_API_URL_DEV }}</a></p>
        <p>Production URL: <br /><a href="">{{ x.P_API_URL_PROD }}</a></p>
      </div>
    </div>
  </div>

  <div *ngIf="filteredProjects.length ===0 && grid" class="norecords">
      No Records Found
  </div>

  <div class="popup" *ngIf="pop">
    <div class="popup-content">
      <h1 style="text-align: center;">Project Details</h1>
      <p style="font-weight: bold;">
        Stage URL: <br />
        <a [href]="selectedProject.P_API_URL_DEV">{{ selectedProject.P_API_URL_DEV }}</a>
      </p>
      <p style="font-weight: bold;">
        Production URL: <br />
        <a [href]="selectedProject.P_API_URL_PROD">{{ selectedProject.P_API_URL_PROD }}</a>
      </p>
      <div class="popupbtn">
        <button (click)="closePopup()">Close</button>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="(editdata || add) && !grid">
    <h3 *ngIf="add">Add Project</h3>
    <h3 *ngIf="editdata">Edit Project</h3>
    <form [formGroup]="myform">
      <label>Project Name</label>
      <input type="text" formControlName="projectname" />
       <div *ngIf="myform.get('projectname')?.touched && myform.get('projectname')?.invalid" class="error">
          <div *ngIf="myform.get('projectname')?.errors?. ['maxlength']" class="error">
          *Max length is exceeded
          </div>
          <div *ngIf="myform.get('projectname')?.errors?.['required']">
          *Project Name is Required
          </div>
      </div>

      <label>Development URL</label>
      <input type="text" formControlName="devurl" />
      <div *ngIf="myform.get('devurl')?.invalid && myform.get('devurl')?.touched" class="error">
        *Development URL is Required
      </div>
      <div *ngIf="myform.get('devurl')?.touched && myform.get('devurl')?.invalid" class="error">
          <div *ngIf="myform.get('devurl')?.errors?. ['pattern']" class="error">
          *Please enter valid URL ex: (e.g.,  https://example.com )
          </div>
          <div *ngIf="myform.get('devurl')?.errors?.['required']">
          *Development URL is Required
          </div>
      </div>


      <label>Staging URL</label>
      <input type="text" formControlName="stagingurl" />
      <div *ngIf="myform.get('stagingurl')?.touched && myform.get('stagingurl')?.invalid" class="error">
          <div *ngIf="myform.get('stagingurl')?.errors?. ['pattern']" class="error">
          *Please enter valid URL ex: (e.g.,  https://example.com )
          </div>
          <div *ngIf="myform.get('stagingurl')?.errors?.['required']">
          *Staging URL is Required
          </div>
      </div>

      <label>Production URL</label>
      <input type="text" formControlName="produrl" />
      <div *ngIf="myform.get('produrl')?.touched && myform.get('produrl')?.invalid" class="error">
          <div *ngIf="myform.get('produrl')?.errors?. ['pattern']" class="error">
          *Please enter valid URL ex: (e.g.,  https://example.com )
          </div>
          <div *ngIf="myform.get('produrl')?.errors?.['required']">
          *Production URL is Required
          </div>
      </div>

      <label>Test URL</label>
      <input type="text" formControlName="testurl" />
     <div *ngIf="myform.get('testurl')?.touched && myform.get('produrl')?.invalid" class="error">
        <div *ngIf="myform.get('testurl')?.errors?. ['pattern']" class="error">
        *Please enter valid URL ex: (e.g.,  https://example.com )
        </div>
        <div *ngIf="myform.get('testurl')?.errors?.['required']">
        *Production URL is Required
        </div>
      </div>

      <label>Active</label>
      <input type="checkbox" formControlName="isActive" />

      <button *ngIf="add" type="submit" class="primary" (click)="InsertProject()">Add New Project</button>
      <button *ngIf="editdata" type="submit" class="primary" (click)="updateProject()">Update Project</button>
      <button type="button" class="secondary" (click)="myform.reset()">Reset</button>
      <button type="button" class="primary" (click)="cancel()">Cancel</button>
    </form>
  </div>
